.form-control:focus {

  box-shadow: none;
  border-color:rgb(108, 79, 252);
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.icons-Image{
  width: 200px !important;
    }

@media only screen and (max-width: 1200px){
  .icons-Image{
width: 200px !important;
  }
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
.icons-Image{
  width: 200px !important;
}
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
.icons-Image{
  width: 200px !important;
}
}

