
.example-spacer {
  flex: 1 1 auto;
}
.img-fluid{
  width: full;
  object-fit: fill;
}

.title-h1{
  color: rgb(108, 79, 252);
}

.form-control:focus {

  box-shadow: none;
  border-color:rgb(108, 79, 252);
}
.form-group{
  padding-top: 20px;
}
.icons-Image{
  width: 200px !important;
  margin-top: 30px;
}

@media only screen and (max-width: 1200px){
  .icons-Image{
width: 200px !important;
  }
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
.icons-Image{
  width: 200px !important;
}
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
.icons-Image{
  width: 200px !important;
}
}
