


 <!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>

 <a mat-button  routerLink="login">Login</a>
 <a mat-button  routerLink="register" class="text-decoration-none text-light">Signup</a>

</mat-toolbar> -->
<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="row flex align-items-center">
    <div class="col-md">
      <img src="assets/images/8793238_3986413 (1).png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--

<router-outlet></router-outlet> -->
