.example-spacer {
  flex: 1 1 auto;
}
.img-fluid{
  width: full;
  object-fit: fill;
}

.title-h1{
  color: rgb(108, 79, 252);
}

.form-control:focus {

  box-shadow: none;
  border-color:rgb(108, 79, 252);
}
.form-group{
  padding-top: 20px;
}
